body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    /*background-color: #e0e0e0;*/
    font-family: Arial;
}

h1 {
    margin-bottom: .5rem;
}

.input {
    border: 1px solid #333;
    border-radius: .3em;
    padding: .25rem;
    width: 7em;
    margin-left: 1rem;
    font-size: 2rem;
}

select {
    border-radius: .3em;
    margin: 0 1rem 0 1rem;
    font-size: 2rem;
}

.equals {
    font-weight: bold;
    font-size: 2rem;
}

.App {
    background-color: #e8e8e8;
    border-radius: 1rem;
    padding-bottom: 2rem;
    box-shadow: 5px 5px 15px grey;
}

.header {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    margin-bottom: 2rem;
    padding: 1rem;
    color: white;
    background-color: #c2530a;
    font-size: 2rem;
}